.benefit{
	margin-top: 198px;
	position: relative;
	&::before{
		content: '';
		position: absolute;

		width: 345px;
		height: 972px;

		left: 0;

		background-image: url(../img/bg/2-3.png);
	}
}
.benefit__title{
	position: relative;
	color: $font-color;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-left: 20px;
	margin-bottom: 40px;
}
.benefit-list{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-shrink: 0;
}
.benefit__item{
	text-align: center;
	max-width: 368px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&:nth-child(2){
		.benefit__img__wrapper{
		background-color: #cf3d5a;
		}
	}
	&:hover{
		.benefit__img{
			
			width: 270px;
			height: 270px;
		}
	}
}
.benefit__img__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	background-color: #d7e359;
	margin-bottom: 48px;
}
.benefit__img{
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 248px;
	height: 248px;
	border-radius: 50%;
	img{
		width: 165%;
	}
}
.benefit__info{
	color: $font-color;
	
}
.benefit__info__title{
	min-height: 80px;

	line-height: 26px;
	font-size: 20px;
	font-weight: 700;

	margin-bottom: 35px;
}
.benefit__info__desc{
	font-size: 16px;
}