.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	color: $font-color;
}
.footer__info{
	text-align: center;
}
.footer__info__link{
	color: #0d93d1;
	line-height: 1.57;
}
.footer__logo-studio{
	display: flex;
	align-items: center;
}
.logo-studio__info{
	text-align: right;
	margin-right: 29px;
}