.modal--form__wrapper{
	position: fixed;
	right: 0;
	margin-right: 384px;
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 370px;
	min-height: 555px;
	background-color: #cf3d5a;
	padding: 58px 48px;
	.close__modal{
		position: absolute;
		margin-top: 22px;
		margin-right: 14px;
		top: 0;
		right: 0;
		width: 23px;
		height: 23px;

		&::before,&::after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 11px;
			width: 23px;
			height: 1px;
	
			background-color: white;
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
	.modal--form__info{
		color: white;
	}
	.modal--form__title{
		font-size: 28px;
		font-weight: bold;
		line-height: 1.07;
		margin-bottom: 12px;
	}
	.modal--form__desc{
		max-width: 225px;
		font-size: 16px;
		line-height: 1.63;
		margin-bottom: 42px;
	}
	.text--bolt{
		font-weight: bold;
	}
	form{
		display: flex;
		flex-direction: column;
	}
	.form-item{
		width: 100%;
		max-width: 270px;

		input{
			width: 100%;
			margin-bottom: 12px;
		}
	}
}