.order__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 135px;
	margin-bottom: 22px;
}
.order__title{
	font-size: 30px;
  font-weight: bold;
	color: $font-color;
	margin-bottom: 85px;
}
.order__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;

}
.order__item{
	position: relative;
	text-align: center;
	width: 23%;
	min-width: 267px;
	color: $font-color;

	&::before{
		position: absolute;
		content: '1';
		text-align: center;
		padding-top: 16px;
		color: white;
		font-size: 30px;
		font-weight: bold;
		top: 0;
		right: 0;
		z-index: 1;
		width: 85px;
		height: 85px;
		border: 10px solid white;
		border-radius: 50%;
		background-color: #9dc444;
	}

	&:nth-child(2n){
		.order__item__img{
			border-color:#cf3d5a;
		}
	}

	// !Временное решение!!!

	&:nth-child(2){
		&::before{
			content: '2';
		}
	}
	&:nth-child(3){
		&::before{
			content: '3';
		}
	}
	&:nth-child(4){
		&::before{
			content: '4';
		}
	}
	
}
.order__item__img{
	height: 267px;
	border: 10px solid #9dc444;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 45px;
	img{
		transform: translate(-70px, 0px);
		width: 150%;
	}
}
.order__item__text{
	font-size: 16px;
  line-height: 1.63;
}

.order__btns{
	width: 100%;
	display: flex;
}
