.reviews{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 780px;
	background-color: #f4f7c8;

	&::before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #f4f7c8;
		background-image: url(../img/reviews/bg_img.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.8;
	}
}
.reviews__wrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 460px;
	max-width: 970px;
	margin-top: 100px;
	background-color: white;
	&::before, &::after{
		content: '';
		position: absolute;
		width: 185px;
		height: 136px;

		background-image: url(../img/reviews/arrow.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&::before{
		top: 0;
		left: 0;
		margin-top: 30px;
		margin-left: -85px;
	}
	&::after{
		transform: rotate(180deg);
		bottom: 0;
		right: 0;
		margin-right: -105px;
		margin-bottom: -50px;
	}
}
.reviews__title{
	font-size: 30px;
  font-weight: bold;
	color: $font-color;
	padding-left: 40px;
	margin: 73px auto 80px;
}
.reviews__slider{
	display: flex;
}
.reviews__slide{
	width: 100%;
	display: flex;
}
.slide__photo{
	width: 200px;
	height: 200px;
	border: 5px solid white;
	border-radius: 2px;
	overflow: hidden;
	transform: translate(-30px);
	margin-right: 100px;
	img{
		height: 100%;
		transform: translate(-85px);
	}
}
.slide__text{
	display: flex;
	flex-direction: column;
	max-width: 540px;
	font-size: 16px;
  color: $font-color;
}
.text__comment{
  line-height: 1.63;
}
.text__name{
	margin-top: 15px;
	font-size: 18px;
  font-weight: bold;
}
.slider__nav{
	position: relative;
	z-index: 11;
}
.slider__nav{
	margin-top: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav__btns{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 90px;
	
	.form_radio {
		margin-bottom: 14px;
		&:not(:last-child){
			margin-right: 15px;
		}
	}
	.form_radio input[type=radio] {
		display: none;
	}
	.form_radio label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		user-select: none;
	
		&::before{
			content: "";
			display: inline-block;
			width: 7px;
			height: 7px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #89142c;
			border-radius: 50%;
		}
		&::after{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			border-radius: 50%;
		}
	}
	.form_radio input[type=radio]:checked + label::after {
		width: 13px;
		height: 13px;
		margin-top: -2.5px;
		margin-left: -2.5px;
		background-color: inherit;
		border: 1px solid #89142c;
	}
	.form_radio label:hover:before {
		transform: scale(1.2);
		filter: brightness(120%);
	}
	.form_radio input[type=radio]:disabled + label:before {
		cursor: default;
		background-color: rgba(112, 112, 112, 0.4);
	}
}


.slide__btn{
	width: 59px;
	height: 59px;
	background-color: inherit;
	background-image: url(/img/products/btn--burgundy.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.btn--prev{
	background-image: url(/img/products/btn--orange.svg);
}