.services{
	position: relative;

	&::before{
		position: absolute;
		content: '';
		width: 1669px;
		height: 1124px;
		bottom: 0;
		right: 0;
		background-image: url(../img/bg/5.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.services__wrapper{
	padding-bottom: 207px;
}
.services__title{
	font-size: 30px;
  font-weight: bold;
  text-align: center;
	color: $font-color;
	margin-bottom: 108px;
}
.services__item{
	display: flex;
	justify-content: space-between;
	.services__info{
		margin: 65px 39px 129px 0;
	}
	&:nth-child(2n-1){
		flex-direction: row-reverse;
		.services__info{
			margin-right: 90px;
			margin-left: 0px;
		}
	}
}
.services__image{
	width: 570px;
	height: 450px;
	overflow: hidden;
	img{
		width: 100%;
	}
}
.services__info__title{
	margin-bottom: 30px;
}
.services__info__desc{
	max-width: 430px;
	margin-bottom: 40px;
}