.slider{
	position: relative;
	margin-top: 60px;
	min-height: 951px;
	background-image: url(../img/slider/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;

	display: flex;
	align-items: center;
}
.slide{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slide__title{
	max-width: 880px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}
.slide__wrapper{
	position: relative;
	&::before, &::after{
		content: '';
		position: absolute;
		width: 59px;
		height: 59px;
		top: 50%;
		margin-top: -29.5px;
		background-image: url(../img/slider/btn.svg);
		cursor: pointer;
	}	
	&::before{
		left: 0;
		margin-left: -89px;
	}
	&::after{
		transform: rotate(180deg);
		right: 0;
		margin-right: -89px;
	}
}
.slide__img{
	position: relative;
	box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.4);
	img{
		position: relative;
		z-index: 11;
	}

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: 11;

		width: 100%;
		height: 100%;

		border: 5px solid white;
		transform: translate(18px, 19px);
	}
}
